<launch>

    <param name="robot_description" textfile="$(find simplebot_description)/urdf/simplebot.urdf" />
    <include file="$(find gazebo_ros)/launch/empty_world.launch"></include>

    <node pkg="gazebo_ros" 
        type="spawn_model" 
        name="spawn_model" 
        respawn="false" 
        args="-file $(find simplebot_description)/urdf/simplebot.urdf -urdf -model object1 -z 1" />

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find simplebot_description)/config/controller.yaml" command="load"/>
    
    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager"
                    type="spawner" ns="simplebot" output="screen" 
                    args="joint_state_controller diff_drive_controller"  />
    
    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher"
                    type="robot_state_publisher"
                    respawn="false" output="screen" ns="/simplebot"  >
    </node>
    
    <node name="rviz_simplebot" pkg="rviz" type="rviz" args="-d $(find simplebot_description)/config/viz.rviz" required="true" />
</launch>